.container {
  height: 500px;
  width: 768px;
  padding: 20px;
  position: relative;

  h2 {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0 0 7px 0px;
    margin-bottom: 20px;
  }

  select {
    width: 100%;
    border: 1px solid #60a5fa;
    padding: 10px;
    border-radius: 5px;
  }

  .root__comments {
    margin-top: 100px;
    position: relative;
  }
}
